:root {
	--primary: green;
	--primary-fg: red;
	--primary-border: blue;

	--secondary: yellow;
	--secondary-fg: red;
	--secondary-border: blue;
}

.dark {
	--primary: #000;
	--primary-fg: #f2f2f2;
	--primary-border: #eee;
}
