@import 'tailwindcss';
@import './styles/foundation.css';

:root {
	--hue: 240;

	/* DEFAULT	 */
	--surface: oklch(100% 0 0);
	--surface-elevated: var(--neutral-100);
	--content: var(--neutral-900);
	--content-subtle: var(--neutral-700);

	/* PRIMARY	 */
	--primary-surface-50: var(--color-50);
	--primary-surface-100: var(--color-100);
	--primary-surface-200: var(--color-200);
	--primary-surface-300: var(--color-300);
	--primary-surface-400: var(--color-400);
	--primary-surface-500: var(--color-500);
	--primary-surface-600: var(--color-600);
	--primary-surface-700: var(--color-700);
	--primary-surface-800: var(--color-800);
	--primary-surface-900: var(--color-900);
	--primary-surface-950: var(--color-950);

	--primary-white: white;
	--primary-black: black;

	--primary-surface-hover: oklch(from var(--primary-surface-500) calc(l + 0.1) c h);
	--primary-surface-active: oklch(from var(--primary-surface-500) calc(l - 0.1) c h);

	--primary-outline: var(--color-400);
}
/* *:focus {
	outline: none;
	background-color: var(--primary-surface-300);
} */

*:focus-visible {
	outline: 3px solid #ff6600;
	outline-offset: 1px;
}
.zu_base {
	box-sizing: border-box;
}

.zu_base_transition {
	transition: all 0.2s ease-in-out;
}
/* BUTTON */
.button[data-themed='true'] {
	background-color: var(--primary-surface-500);
	color: white;
}
.button[data-themed='true']:hover {
	background-color: var(--primary-surface-hover);
}
.button[data-themed='true']:active {
	background-color: var(--primary-surface-active);
}
.button_active[data-themed='true'] {
	background-color: var(--primary-surface-500);
	color: white;
}
.button_active[data-themed='true']:hover {
	background-color: var(--primary-surface-hover);
}
.button-active[data-themed='true']:active {
	background-color: red;
}
/* INPUT ELEMENTS	 */
.input[data-themed='true']:focus-within {
	outline: 2px solid var(--primary-outline);
	caret-color: var(--primary-outline);
}
/* .input_icon_left {
	color: red;
	opacity: 1;
} */
.input[data-themed='true']:hover {
	background-color: var(--primary-surface-50);
	border-color: var(--primary-surface-100);
}
.input[data-themed='true']:active {
	background-color: var(--primary-surface-200);
}

/* LIST */
.list[data-themed='true'] {
	background-color: transparent;
	color: black;
}
.list[data-themed='true']:hover {
	background-color: var(--primary-surface-300);
	color: white;
}

.list[data-themed='true']:active {
	background-color: var(--primary-surface-500);
	color: white;
}
/* .list[data-themed='true']:focus {
	background-color: var(--primary-surface-300);
	color: white;
	outline: none;
} */
/* LINK */
.link[data-themed='true'] {
	color: var(--primary-surface-500);
}
.link[data-themed='true']:hover {
	color: var(--primary-surface-hover);
}
.link[data-themed='true']:active {
	color: var(--primary-surface-active);
}

/* RADIO */
/* SWITCH */
.switch[data-themed='true'] {
	background-color: var(--primary-surface-500);
}
[data-theme='dark'] {
	--background: oklch(0 0 0);
	--button-background: var(--color-100);
	--button-color: var(--color-950) --card-background: rgba();
}
