@import 'tailwindcss';
@import './styles/foundation.css';
@import './styles/components.css';
@import './styles/theme.css';

:root {
	--theme-variant: 'dark';
	--hue: 240;

	--primary-50: var(--color-50);
	--primary-100: var(--color-100);
	--primary-200: var(--color-200);
	--primary-300: var(--color-300);
	--primary-400: var(--color-400);
	--primary-500: var(--color-500);
	--primary-600: var(--color-600);
	--primary-700: var(--color-700);
	--primary-800: var(--color-800);
	--primary-900: var(--color-900);
	--primary-950: var(--color-950);

	--primary-white: white;
	--primary-black: black;
}

*:focus {
	outline: none;
	/* background-color: var(--primary-300); */
}

*:focus-visible {
	outline: 3px solid var(--primary-outline);
	outline-offset: 1px;
}
.zu_base {
	box-sizing: border-box;
}

.zu_base_transition {
	transition: all 0.1s ease-in-out;
}
